<%- include('layout/header') -%>
<section class="background-svg background-background">
    <div class="card card-center shadow">
        <div class="card-body p-3">
            <!-- Input form for inserting the sensor ID. -->
            <form method="POST" class="d-flex flex-column">
                <label class="mb-3 heading-text text-text" for="sensorIdInput">Entrez l'id du capteur :</label>
                <input class="mb-3 form-control background-background interne-shadow" id="sensorIdInput" name="id" type="text" placeholder="Id du capteur">
                <input class="mb-3 btn btn-secondary border-none primary-background item-text btn-submit" type="submit" value="Rechercher">
            </form>
        </div>
    </div>
</section>

<%- include('layout/footer') -%>