<%- include('layout/header') -%>

<form method="POST" >
    <label for="sensorIdInput">Id du capteur</label>
    <input id="sensorIdInput" name="id" type="text" placeholder="Id du capteur">
    <input type="submit" value="Rechercher le capteur">
</form>

<%- include('layout/footer') -%>