<%- include('layout/header') -%>
    <div class="mx-4 my-4">
        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight w-100">
                <div class="card small-card item-background border-none shadow">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <p class="card-text"><span class="text-text">Capteur | </span><span class="bold">30EFFB7</span></p>
                        <p class="card-text"><span class="text-text">Type | </span><span class="bold">Bkeep</span></p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-column">
                            <i class="fa-solid fa-temperature-three-quarters icon"></i>
                            <span class="text-center text-text">Température</span>
                            <span class="text-center bold"><span id="temperatureData">-3</span>C°</span>
                        </div>
                        <% if (sensor.deviceType.id = 1) { %>
                        <div class="d-flex flex-column">
                            <i class="fa-solid fa-droplet icon"></i>
                            <span class="text-center text-text">Humidité</span>
                            <span class="text-center bold"><span id="humidityData">70</span>%</span>
                        </div>
                        <div class="d-flex flex-column">
                            <i class="fa-solid fa-battery-three-quarters icon"></i>
                            <span class="text-center text-text">Batterie</span>
                            <span class="text-center bold"><span id="batteryData">51</span>%</span>
                        </div>
                        <% } else if (sensor.deviceType=2) { %>
                            <div class="d-flex flex-column">
                                <i class="fa-solid fa-map-location-dot icon"></i>
                                <span class="text-center text-text">Latitude</span>
                                <span class="text-center">49,543</span>
                            </div>
                            <div class="d-flex flex-column">
                                <i class="fa-solid fa-map-location-dot icon"></i>
                                <span class="text-center text-text">Longitude</span>
                                <span class="text-center">34,594</span>
                            </div>
                        <% } %>
                        <div class="d-flex flex-column">
                            <i class="fa-solid fa-wifi icon"></i>
                            <span class="text-center text-text">Connexion</span>
                            <span id="dataWifi" class="text-center bold">Très Bonne</span>
                        </div>
                        
                      </div>
                    </div>
                  </div>
            </div>
            <div class="p-2 bd-highlight w-100">
                <div class="card small-card item-background border-none shadow">
                    <div class="card-body">
                      <p class="card-text bold">Filtres</p>
                      <div class="d-flex justify-content-between mb-3">
                        <button type="button" id="day" class="btn btn-secondary w-100 border-none primary-background item-text">1 jour</button>
                        <button type="button" id="week" class="btn btn-secondary w-100 mx-4 border-none primary-background item-text">1 semaine</button>
                        <button type="button" id="mounth" class="btn btn-secondary w-100 border-none primary-background item-text">1 mois</button>
                      </div>
                      <div id="daterange" class="d-flex justify-content-between" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                        <div>
                          <i class="fa fa-calendar"></i>&nbsp;
                          <span></span> 
                        </div>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    </div>
                  </div>
            </div>
          </div>
          <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight w-100">Flex item 3</div>
            <div class="p-2 bd-highlight w-100">Flex item 4</div>
          </div>
      </div>

<%- include('layout/footer') -%>
<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="/js/daterangepicker.js"></script>
<script type="text/javascript" src="/js/daterange.js"></script>
<script type="text/javascript" src="/js/bornes.js"></script>