body{
    font-size: 17px;
    font-family: var(--font-family), sans-serif;
    font-weight: var(--regular-font-weight);
    background-color: var(--background-color);
    width: 100%;
    height: 100%; 
}

.primary-background{
    background-color: var(--primary-color); 
}

.background-background{
    background-color: var(--background-color); 
}

.danger-background{
    background-color: var(--danger-color); 
}

.warning-background{
    background-color: var(--warning-color); 
}

.success-background{
    background-color: var(--success-color); 
}

.item-background{
    background-color: var(--item-color); 
}



.primary-text{
   color: var(--primary-color); 
}

.text-text{
    color: var(--text-color); 
}

.danger-text{
    color: var(--danger-color); 
}

.warning-text{
    color: var(--warning-color); 
}

.success-text{
    color: var(--success-color); 
}

.item-text{
    color: var(--item-color); 
}

.heading-text{
    font-size: 25px;
}

.text{
    font-size: 17px;
}

.error-title{
    font-size: 20px;
}

.error-type{
    font-size: 120px;
    font-weight: var(--extra-bold-font-weight);
}

.bold {
    font-weight: var(--bold-font-weight);
}

.border-none{
    border: none;
}

.logo{
    margin: 0.5%;
    width: 100px;
    color: var(--item-color)
}

.background-svg{
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-image: url("../images/background.svg");
}

.card-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 40%;
    border: none;
    background-color: var(--item-color);
}

.btn-submit{
    margin-left: 70%;
}

.interne-shadow{
    box-shadow: -1px 2px 10px 3px rgba(134, 134, 134, 0.2) inset;
}

.icon{
    font-size:37px;
}

.small-card{
    height: 170px;
}

.group-of-cards{
    flex-direction: row;
}

.group-of-buttons{
    display: flex;
}

#daterange-mobile{
    display:none;
}

#daterange{
    display:flex;
}


@media only screen and (max-width: 900px) {
    .card-center{
        width: 80%;
    }
    .btn-submit{
        margin-left: 50%;
    }
    .background-svg{
        width: 100vw;
        height: 92vh;
    }
    .text{
        font-size: 12px;
    }
    .heading-text{
        font-size: 20px;
    }
    .group-of-cards{
        flex-direction: column;
        font-size: 13px;
    }
    .group-of-buttons{
        display: none;
    }
    .filtre-card{
        height: 100px;
    }
    #daterange{
        display:none;
    }
    #daterange-mobile{
        display:flex;
    }
  }