<!-- views/notFound.ejs -->
<%- include('../layout/header') -%>
    <div class="error-container background-svg">
        <div class="card card-center shadow">
            <div class="card-body p-5 text-center">
                <p class="error-title text-text">Une erreur est survenue</p>
                <h1 class="error-type primary-text">404</h1>
                <p class="error-title text-text">Not Found</p>
            </div>
        </div>
    </div>
<%- include('../layout/footer') -%>