<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/all.min.js"></script>
<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="/js/daterangepicker.js"></script>
<script type="text/javascript" src="/js/daterange.js"></script>
<script type="text/javascript" src="/js/bornes.js"></script>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="/node_modules/axios/dist/axios.min.js"></script>
<script src="/js/generateRandomData.js"></script>
<script src="/js/createChart.js"></script>
<script src="/js/leaflet.js"></script>
<script src="/js/map.js"></script>
<script src="/js/dataCharts.js"></script>
</body>
</html>